{% extends 'base.html' %}
{% load static%}

{% block link%}
    <link rel="stylesheet" type="text/css" href="{% static 'website/rule.css' %}">
{% endblock %}

{% block content%}
    <div class="container"> 
        <div id="rule-main-container" class="d-flex flex-wrap align-items-center justify-content-around mt-5">
           
            <div class="col-md-8 my-2">   
                <h1 class="mb-3">Rule</h1>
                <p >Football is played in accordance with a set of rules known as the Laws of the Game. The ball is 68–70 cm (27–28 in) in circumference and known as the football. The two teams compete to get the ball into the other team's goal (between the posts and under the bar), thereby scoring a goal. Players are not allowed to touch the ball with hands or arms while it is in play, except for the goalkeepers within the penalty area. Players may use any other part of their body to strike or pass the ball, and mainly use their feet. The team that scores more goals at the end of the game is the winner; if both teams have scored an equal number of goals, either a draw is declared or the game goes into extra time or a penalty shootout, depending on the format of the competition. Each team is led by a captain who has only one official responsibility as mandated by the Laws of the Game: to represent their team in the coin toss prior to kick-off or penalty kicks.</p>
            </div>
            <div class="col-md-3 h-100">
                <img class="w-100 h-auto"src="{{ pic_main }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}